* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clients {
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border-top: 1px solid #252525;
    border-bottom: 1px solid #252525;

    @media screen and (min-width: 768px) and (max-width: 1200px) {
        padding: 30px;
        gap: 30px;
    }

    @media screen and (min-width: 320px) and (max-width: 768px) {
        padding: 30px;
        gap: 30px;
    }

    &__clients-text {
        color: #252525;
        font-family: Gilroy;
        font-size: 212px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 8.48px;
        text-transform: uppercase;
        text-align: center;

        @media screen and (min-width: 768px) and (max-width: 1200px) {
            font-size: 150px;
            letter-spacing: 6px;
        }

        @media screen and (min-width: 320px) and (max-width: 768px) {
            font-size: 80px;
            letter-spacing: normal;
        }
    }

    .clients-main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);

        @media screen and (min-width: 768px) and (max-width: 1200px) {
            display: flex;
            flex-direction: column;
        }

        @media screen and (min-width: 320px) and (max-width: 768px) {
            display: flex;
            flex-direction: column;
        }

        .clients-card {
            padding: 30px;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            gap: 30px;

            &:nth-child(1) {
                border-right: 1px solid #000;
                border-bottom: 1px solid #000;

            }

            &:nth-child(2) {
                border-right: 1px solid #000;
                border-bottom: 1px solid #000;
            }

            &:nth-child(3) {
                border-bottom: 1px solid #000;
            }

            &:nth-child(5) {
                border-right: 1px solid #000;
                border-left: 1px solid #000;
            }

            @media screen and (min-width: 768px) and (max-width: 1200px) {
                &:nth-child(1) {
                    border-right: none;
                }

                &:nth-child(2) {
                    border-right: none;
                }

                &:nth-child(5) {
                    border-right: none;
                    border-left: none;
                }
                &:nth-child(6) {
                    border: none;
                }

                padding: 40px 0;
                border-bottom: 1px solid #000;


            }

            @media screen and (min-width: 320px) and (max-width: 768px) {
                &:nth-child(1) {
                    border-right: none;
                }

                &:nth-child(2) {
                    border-right: none;
                }

                &:nth-child(5) {
                    border-right: none;
                    border-left: none;
                }
                &:nth-child(6) {
                    border: none;
                }

                padding: 40px 0;
                border-bottom: 1px solid #000;
            }

            &__clients-card-logo-img {
                max-width: 180px;
                max-height: 40px;
            }

            &__clients-card-logo {
                color: #333;
                font-family: Gilroy;
                font-size: 40px;
                font-style: normal;
                font-weight: 800;
                line-height: 44px;
            }

            &__clients-card-description {
                color: #000;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;
            }

            .clients-card-author {
                display: flex;
                gap: 20px;
                align-items: center;

                &__clients-card-author-image {
                    width: 70px;
                    height: 70px;
                    border-radius: 50px;
                }

                .clients-card-author-info {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    &__clients-card-author-info-name {
                        color: #000;
                        font-family: Inter;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 20px;
                        /* 100% */
                    }

                    &__clients-card-author-info-position {
                        color: #000;
                        font-family: Inter;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                        /* 100% */
                    }
                }
            }
        }
    }
}