* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pre-footer {
    padding-top: 50px;
    padding-bottom: 100px;

    @media screen and (min-width: 768px) and (max-width: 1200px) {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    @media screen and (min-width: 320px) and (max-width: 768px) {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .contact {
        padding: 50px 70px;
        padding-bottom: 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @media screen and (min-width: 768px) and (max-width: 1200px) {
            display: flex;
            flex-direction: column;
            gap: 40px;
            padding: 0px 30px;
            text-align: center;
        }

        @media screen and (min-width: 320px) and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 0px 20px;
            text-align: center;
        }

        &__contact-text {
            color: #333;
            font-family: Gilroy;
            font-size: 155px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-transform: uppercase;

            @media screen and (min-width: 768px) and (max-width: 1200px) {
                text-align: center;
            }

            @media screen and (min-width: 320px) and (max-width: 768px) {
                font-size: 80px;
                text-align: center;
            }
        }

        .lets-start {
            display: flex;
            flex-direction: column;
            gap: 30px;

            @media screen and (min-width: 768px) and (max-width: 1200px) {
                align-items: center;
            }

            @media screen and (min-width: 320px) and (max-width: 768px) {
                align-items: center;
            }

            &__lets-start-title {
                color: #252525;
                font-family: Gilroy-Bold;
                font-size: 64px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;
        
                @media screen and (min-width: 320px) and (max-width: 768px) {
                    font-size: 50px;
                }
            }

            &__lets-start-description {
                color: #252525;
                font-family: Gilroy-Medium;
                font-size: 34px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                @media screen and (min-width: 320px) and (max-width: 768px) {
                    font-size: 30px;
                }
            }

            &__lets-start-button {
                width: 200px;
                display: flex;
                padding: 10px 30px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 50px;
                background-color: #252525;
            }

            &__lets-start-button-text {
                color: #FFF;
                font-family: Gilroy-Medium;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: capitalize;
            }
        }
    }
}