* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    border-top: 1px solid #000;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 70px;

    @media screen and (min-width: 768px) and (max-width: 1200px) {
        padding: 20px 30px;
    }

    @media screen and (min-width: 320px) and (max-width: 768px) {
        padding: 20px 30px;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .footer-text {
        color: #333;
        font-family: Gilroy-Regular;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &__footer-text-other {
            color: #333;
            font-family: Gilroy-SemiBold;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .footer-social {
        display: flex;
        gap: 10px;
    }
}