@import "reset";
@import "normalize";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "whatido";
@import "clients";
@import "contact";
@import "footer";

* {
    box-sizing: border-box;
  }
  
*button {
    cursor: pointer;
    border: none;
    background: none;
}
body {
    background-color: #F5F3EA;
}

.header {
    max-width: 100%;
    height: auto;
    margin: 40px 70px 0px 70px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    @media screen and (min-width:768px) and (max-width: 1200px) {
        margin: 40px 30px 0px 30px;
    }

    @media screen and (min-width:320px) and (max-width: 767px) {
        margin: 20px 20px 0px 20px;
        padding-bottom: 0px;
    }

    &__left {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 71px;
    @media screen and (min-width:320px) and (max-width: 767px) {
        height: 35px;
    }
        &--item-logo {
            margin-right: 10px;
        }
        &--item-name {
            color: #000;
            text-align: center;
            font-family: Gilroy;
            font-size: 35px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            letter-spacing: -0.7px;
            margin: 4px 0px 4px 0px;

            @media screen and (min-width:320px) and (max-width: 767px) {
                display: none;
            }
        }
        &--item {
            color: #000;
            font-family: Gilroy-Medium;
            font-size: 35px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.7px;
            text-transform: uppercase;
            margin: 4px 0px 4px 6px;
            @media screen and (min-width:320px) and (max-width: 767px) {
                display: none;
            }
        }
        &--item-sub {
            @media screen and (min-width:320px) and (max-width: 767px) {
                display: none;
            }
        }
    }
    &__right {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 71px;
        @media screen and (min-width:320px) and (max-width: 767px) {
            height: 35px;
            }
        &--button {
            border: none;
            color: #252525;
            text-align: center;
            font-family: Gilroy-SemiBold;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            cursor: pointer;
        }
    }
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 70px 40px 70px;
    max-width: 100%;
    height: auto;
    &__name {
        color: #252525;
        text-align: center;
        font-family: Gilroy-SemiBold;
        font-size: 90px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        @media screen and (min-width:768px) and (max-width: 1200px) {
            font-size: 70px
        }

        @media screen and (min-width:320px) and (max-width: 767px) {
            font-size:50px
        }
    }
    &__about {
        color: #252525;
        font-family: Gilroy;
        font-size: 80px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: capitalize;
        margin-bottom: 30px;

        @media screen and (min-width:768px) and (max-width: 1200px) {
            font-size:50px
        }

        @media screen and (min-width:320px) and (max-width: 767px) {
            font-size:40px
        }
    }
}

.main_img {
    background-image: url("../images/main_img.jfif");
      background-size: cover;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      height: 800px;
    @media screen and (min-width:768px) and (max-width: 1200px) {
        height: 700px;
    }

    @media screen and (min-width:320px) and (max-width: 767px) {
        height: 500px;
    }
}

.about-me {
    margin: 70px 0px 70px 0px;
    display: flex;
    align-items: stretch;
    @media screen and (min-width:768px) and (max-width: 1200px) {
        flex-direction: column;
        margin-bottom: 0px;
    }

    @media screen and (min-width:320px) and (max-width: 767px) {
        flex-direction: column;
        margin-bottom: 0px;
    }

    &__text {
        margin: 7px 70px 7px 70px;
        color: #252525;
        font-family: Gilroy;
        font-size: 52px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        @media screen and (min-width:768px) and (max-width: 1200px) {
            flex-direction: column;
            align-items: center;
            font-size: 42px;
        }
    
        @media screen and (min-width:320px) and (max-width: 767px) {
            flex-direction: column;
            align-items: center;
            font-size: 32px;
        }
        
    }
    &__sosial {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        gap: 30px;
        background: #252525;
        width: 100%;
        padding-right: 70px;
        min-height: 108px;
        color: #FFF;
        text-align: right;
        font-family: Gilroy-Medium;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        text-transform: uppercase;
        @media screen and (min-width:768px) and (max-width: 1200px) {
            font-size: 28px;
        }

        @media screen and (min-width:320px) and (max-width: 767px) {
            font-size: 18px;
        }
        &--img {
            display: flex;
            gap: 20px;
            img {
                height: 40px;
                width: 40px;
            }
        }
    }
}

.wrapper-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #252525;
    border-top: 1px solid #252525;
    overflow-x: hidden;
    @media screen and (min-width:768px) and (max-width: 1200px) {
        border-top:none;
    }

    @media screen and (min-width:320px) and (max-width: 767px) {
        border-top:none;
    }

    .logos{
        padding: 70px;
        height: auto;
        @media screen and (min-width:768px) and (max-width: 1200px) {
            height: 230px;
        }

        @media screen and (min-width:320px) and (max-width: 767px) {
            height: 500px;
        }
        &__item {
            display: flex;
            gap: 30px;
            height: 70px;
            flex-wrap: nowrap;
            
            @media screen and (min-width:768px) and (max-width: 1200px) {
                flex-wrap: wrap;
                justify-content: center;
            }

            @media screen and (min-width:320px) and (max-width: 767px) {
                flex-wrap: wrap;
                justify-content: center;
            }
            .logos_1 {
                width: 150px;
                height: 35px;
            }

            .logos_2 {
                width: 180px;
                height: 35px;
            }

            .logos_3 {
                width: 103px;
                height: 40px;
            }

            .logos_4 {
                width: 151px;
                height: 35px;
            }

            .logos_5 {
                width: 135px;
                height: 27px;
            }

            .logos_6 {
                width: 84px;
                height: 40px;
            }

            .logos_7 {
                width: 144px;
                height: 33px;
            }

            &--content{
                display: flex;
                padding: 10px 18px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                background: #fff;
            }
        }
 }

}


.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
        color: #252525;
        text-align: center;
        font-family: Gilroy;
        font-size: 120px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 8.48px;
        text-transform: uppercase;
        margin: 70px 0px 50px 0px;
        @media screen and (min-width:768px) and (max-width: 1200px) {
            font-size: 90px;
        }

        @media screen and (min-width:320px) and (max-width: 767px) {
            font-size: 70px;
        }
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 40px 70px; 
        margin-bottom: 70px;

        @media screen and (min-width:768px) and (max-width: 1200px) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, 1fr);
            height: 3000px;
        }

        @media screen and (min-width:320px) and (max-width: 767px) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, 1fr); 
            height: 2800px;
        }
        &__cell {
            height: 400px;
            width: 400px;
            @media screen and (min-width:768px) and (max-width: 1200px) {
                height: 500px;
                width: 500px;
            }
    
            @media screen and (min-width:320px) and (max-width: 767px) {
                height: 500px;
                width: 500px;
            } 
            

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            @media screen and (min-width: 768px) and (max-width: 1200px) {
                &:nth-of-type(1) {
                    order: 1; 
                }
                &:nth-of-type(2) {
                    order: 2; 
                }
                &:nth-of-type(3) {
                    order: 4; 
                }
                &:nth-of-type(4) {
                    order: 5; 
                }
                &:nth-of-type(5) {
                    order: 6; 
                }
            }

            @media screen and (min-width:320px) and (max-width: 767px) {
                &:nth-of-type(1) {
                    order: 1; 
                }
                &:nth-of-type(2) {
                    order: 2; 
                }
                &:nth-of-type(3) {
                    order: 4; 
                }
                &:nth-of-type(4) {
                    order: 5; 
                }
                &:nth-of-type(5) {
                    order: 6;
                }
            }

            &--trinity {
                @media screen and (min-width: 768px) and (max-width: 1200px) {
                    order: 5;
                    height: 200px; 
                    width: 500px;
                }
                @media screen and (min-width:320px) and (max-width: 767px) {
                    order: 5;
                    height: 200px; 
                    width: 500px;
                }
            }

            &--мorpheus {
                @media screen and (min-width: 768px) and (max-width: 1200px) {
                    order: 6;
                    height: 200px; 
                    width: 500px;
                }
                @media screen and (min-width:320px) and (max-width: 767px) {
                    order: 6;
                    height: 200px; 
                    width: 500px;
                }
            }

        }
        &__title {
            color: #000;
            font-family: Gilroy-Bold;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 44px;
            text-transform: uppercase;
            margin-bottom: 30px;
            
        }

        &__button {
            display: flex;
            gap: 30px;
            &--item {
            padding: 15px 30px;
            align-items: center;
            gap: 10px;
            border-radius: 50px;
            background: #FFF;
            border: none;
            }
        }
        &__another {
            margin-top: 30px;
            margin-left: auto;
            display: flex;
            justify-content: center;
            color: #FFF;
            font-family: Gilroy-Medium;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: capitalize;
            padding: 15px 30px;
            align-items: center;
            gap: 10px;
            border-radius: 50px;
            background: black;
            border: none;
        }

    }
    &__button {
        display: flex;
        padding: 15px 60px;
        align-items: center;
        gap: 10px;
        border-radius: 50px;
        background: #FFF;
        color: #252525;
        font-family: Gilroy-Medium;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 100px;
    }

}


.wrapper-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #252525;
    border-top: 1px solid #252525;

    
    .grid-work {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px 20px;
        max-width: 1280px;
        margin-bottom: 50px;

        @media screen and (min-width:768px) and (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(8, 1fr); 
            max-height: 1850px;
        }

        @media screen and (min-width:320px) and (max-width: 767px) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(7, 1fr); 
            max-height: 3180px;

        }
        .work-cell {
            height: 450px;
            width: 300px;
            
            display: flex;
            flex-direction: column;
           
            &__title {
                color: #333;
                font-family: Gilroy;
                font-size: 25px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                text-transform: uppercase;
            }
            &__photo {
                
                object-fit: cover;
                max-width: 100%;
                height: auto;
                margin: 5px 0px 5px 0px;
                

            }
            &__profesio {
                color: #333;
                font-family: Gilroy-Medium;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            &__conteiner {
                display: flex;
                gap: 10px;
                justify-content: flex-end;

                
            }

            &__img {
                height: 20px;
                width: 20px;
                filter: invert(1);
            }

            &__double {
                grid-column: span 2;
                
                max-width: 620px;

                @media screen and (min-width:320px) and (max-width: 767px) {
                    grid-column: span 1;
                    max-width: 300px;
                    height: 300px;
                }
                
                .double-content {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    width: 100%;
                    @media screen and (min-width:320px) and (max-width: 767px) {
                        height: auto;
                    }

                    &__title {
                        color: #333;
                        color: #333;
                        font-family: Gilroy-Regular;
                        font-size: 25px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-transform: uppercase;
                        margin: 120px auto 0px auto;
                        @media screen and (min-width:320px) and (max-width: 767px) {
                            margin: 20px auto 0px auto;
                        }
                    }

                    &__subtitle {
                        color: #333;
                        font-family: Gilroy-Bold;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-transform: uppercase;
                        font-size: 44px;
                        word-wrap: break-word; 
                        hyphens: auto; 
                        width: 100%; 
                        overflow-wrap: break-word;
                        word-wrap: break-word;
                        hyphens: auto;
                        @media screen and (min-width:320px) and (max-width: 767px) {
                            font-size: 32px;
                        }
                
                    }

                    &__link {
                        display: flex;
                        padding: 10px 30px;
                        justify-content: flex-end;
                        align-items: center;
                        gap: 10px;
                        border-radius: 50px;
                        background: #252525;
                        max-width: 170px;

                        color: #FFF;
                        font-family: Gilroy-Medium;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-transform: capitalize;
                        @media screen and (min-width:320px) and (max-width: 767px) {
                            font-size: 16px;
                            max-width: 100%;
                            justify-content: center;
                        }
                
                    }

                }

                
            }

            
        }

        
    
    }
}
