* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    .whatido {
        max-width: 1920px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #000;

        @media screen and (min-width: 768px) and (max-width: 1200px) {
            display: flex;
            flex-direction: column;
        }

        @media screen and (min-width: 320px) and (max-width: 768px) {
            display: flex;
            flex-direction: column;
        }

        &__whatido-image {
            background-image: url(../images/images/what-i-do-bgd.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 1137px;

            @media screen and (min-width: 768px) and (max-width: 1200px) {
                height: 991px;
            }

            @media screen and (min-width: 320px) and (max-width: 768px) {
                height: 478px;
            }
        }

        .whatido-main {
            padding: 70px;
            padding-left: 111px;
            display: flex;
            flex-direction: column;
            gap: 100px;

            @media screen and (min-width: 768px) and (max-width: 1200px) {
                padding: 40px 30px;
                gap: 40px;
            }

            @media screen and (min-width: 320px) and (max-width: 768px) {
                padding: 20px 20px;
                gap: 40px;
            }

            &__whatido-main-logo {
                color: #252525;
                font-family: Gilroy;
                font-size: 140px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                text-transform: uppercase;
                text-align: center;

                @media screen and (min-width: 320px) and (max-width: 768px) {
                    font-size: 80px;
                }
            }

            .whatido-text {
                display: flex;
                flex-direction: column;

                .whatido-main-text {
                    display: flex;
                    flex-direction: column;

                    @media screen and (min-width: 768px) and (max-width: 1200px) {
                        max-width: 931px;
                    }

                    @media screen and (min-width: 320px) and (max-width: 768px) {
                        max-width: 500px;
                    }
                    &:nth-child(1)>.whatido-main-text-logo::before{
                        content: "01";
                        color: #000;
                        font-family: Gilroy-Light;
                        font-size: 44px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 48px;
                        text-transform: uppercase;
                        @media screen and (min-width: 320px) and (max-width: 768px) {
                            font-size: 35px;
                        }
                    }
                    &:nth-child(2)>.whatido-main-text-logo::before{
                        content: "02";
                        color: #000;
                        font-family: Gilroy-Light;
                        font-size: 44px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 48px;
                        text-transform: uppercase;
                        @media screen and (min-width: 320px) and (max-width: 768px) {
                            font-size: 35px;
                        }
                    }
                    &:nth-child(3)>.whatido-main-text-logo::before{
                        content: "03";
                        color: #000;
                        font-family: Gilroy-Light;
                        font-size: 44px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 48px;
                        text-transform: uppercase;
                        @media screen and (min-width: 320px) and (max-width: 768px) {
                            font-size: 35px;
                        }
                    }
                    &:nth-child(4)>.whatido-main-text-logo::before{
                        content: "04";
                        color: #000;
                        font-family: Gilroy-Light;
                        font-size: 44px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 48px;
                        text-transform: uppercase;
                        @media screen and (min-width: 320px) and (max-width: 768px) {
                            font-size: 35px;
                        }
                    }
                    

                    .whatido-main-text-logo {
                        color: #000;
                        font-family: Gilroy-SemiBold;
                        font-size: 44px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 48px;
                        text-transform: uppercase;

                        @media screen and (min-width: 320px) and (max-width: 768px) {
                            font-size: 35px;
                        }



                    }

                    &__whatido-main-text-description {
                        margin-top: 10px;
                        color: #000;
                        font-family: Inter;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 28px;
                    }

                    &:not(:last-child)::after {
                        content: "";
                        margin: 40px 0;
                        max-width: 759px;
                        height: 1px;
                        background: #252525;

                        @media screen and (min-width: 320px) and (max-width: 768px) {
                            margin: 30px 0;
                            min-width: 250px;
                        }
                    }
                }
            }
        }
    }
